/**
*
* Home Page Styles
*
**/

// Hero Styles

.home-hero {
  background-color: black;
  background-image: url('../images/heroBG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  color: #fff;
  font-weight: bold;
  padding: 0 16px;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 90px;
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  button {
	width: 60px;
	height: 60px;
	background-image: none;
	background-color: transparent;
	border: none;
	padding: 0;
	display: inline-block;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	-webkit-tap-highlight-color: transparent;
	img {
	  height: 24px;
	  width: 24px;
	}
	&:hover {
	  background-color: rgba(255, 255, 255, 0.1);
	}
	&:focus {
	  background-color: rgba(255, 255, 255, 0.2);
	  outline: 0;
	}
	&:active {
	  background-color: rgba(255, 255, 255, 0.4);
	}
  }
}

.blue-line {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 2px;
  width: 75px;
  margin-bottom: 20px 0;
  background-color: $brand_color-teal;
}





// Info Section

.info-section {
  background-color: #1b3644;
  text-align: center;
  padding: 0 16px;
  padding-top: 80px;
  h2 {
    color: white;
  }

  p {
    color: #3B708B;
    padding-bottom: 40px;
  }
}





// Video Section

.video-section {
  background-color: $brand_color-grey;
  background-image: url("../images/lineBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0 16px;
  padding-top: 80px;
  h2 {
    color: white;
  }
  .pitchVid {
    border-top: 1px solid rgba($brand_color-blueGrey1, 0.1);
    background: url("../../images/basic_cover.jpg") no-repeat rgb(12, 19, 26);
    background-size: cover;
    padding: 6rem 0;
    overflow: hidden;
    h3 {
      color: rgba($brand_color-blueGrey1, 0.75);
    }
    .embed-responsive, iframe {
      border: 0;
      border-radius: 1rem;
    }
    .embed-responsive {
      box-shadow: 0 0 2rem rgba($brand_color-black, 0.5);
    }
  }
}
.shareCampaign {
  p {
    color: white;
  }
  .shareButtons {
    width: 290px;
    margin: 0 auto;
    button {
      float: left;
      border: none;
      width: 135px;
      margin-top: 15px;
    }
    .twitter {
      background-color: #4099FF;
      margin-right: 20px;
    }
    .facebook {
      background-color: #3B5998;
    }
  }

}

.appearances {
  .logosHolder {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    img {
      width: 130px;
      margin: auto;
    }
  }
}





// App Highlight

.appHighlight {
  background-image: url('../images/mobileHighlight.png');
  background-size: cover;
  background-repeat: no-repeat;
  p {
    color: white;
  }
}





// App Benefits

.winLeague {
  background-image: url('../images/leagueBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  h3 {
    color: white;
  }
}





// Cognitive News Demo

.cogNewsDemo {
  padding-bottom: 80px;
}





// Footer

footer {
  padding-top: 40px;
  text-align: center;
  background-color: #254E5E;
  .twitter {
    margin-right: 20px;
  }
  p {
    color: white;
  }
  span {
    font-size: 10px;
    color: white;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
