/**
*
* Home hero section
*
**/

.home-hero {
  background-color: black;
  background-image: url('../images/atBar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  color: #fff;
  font-weight: bold;
}