<section class="company">
	<h1>Let's Hear It</h1>
	<p>Hey you, you are awesome. You know that? Go ahead and contact us.</p>
	<div class="companyInfo">
		<h4>Edge Up Sports</h4>
		<p>
			<span>Address:</span><br>
			410 E. 3rd Street<br>
			Kansas City, MO 64106
		</p>
		<p>
			<span>Phone:</span><br>
			234.241.7453
		</p>
		<div class="companySocial">
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-dribbble"></a>
			<a href="#" class="fa fa-linkedin"></a>
		</div>
	</div>
	<div class="mapHolder">
		<img src="../images/edgeUpDirections.png">
	</div>
	<div class="clear"></div>
</section>


<section class="team">
	<div class="member">
		<div class="profileCircle">
			<div class="profileImage ilya"></div>
			<div class="jobCircle">Business</div>
		</div>
		<h2>Ilya Tabakh</h2>
		<div class="memberSocial">	
			<a class="fa fa-linkedin" href="http://www.linkedin.com/in/ilyatabakh/en" target="_blank"></a>
			<a class="fa fa-twitter" href="https://twitter.com/ilyatabakh" target="_blank"></a>
		</div>
	</div>
	<div class="member">
		<div class="profileCircle">
			<div class="profileImage andrew"></div>
			<div class="jobCircle">Dev</div>
		</div>
		<h2>Andrew Rademacher</h2>
		<div class="memberSocial">	
			<a class="fa fa-linkedin" href="http://www.linkedin.com/in/andrewrademacher/en" target="_blank"></a>
			<a class="fa fa-twitter" href="https://twitter.com/AndRademacher" target="_blank"></a>
			<a class="fa fa-github" href="https://github.com/AndrewRademacher" target="_blank"></a>
		</div>
	</div>
	<div class="member">
		<div class="profileCircle">
			<div class="profileImage coty"></div>
			<div class="jobCircle">Design</div>
		</div>
			<h2>Coty Beasley</h2>
		<div class="memberSocial">	
			<a class="fa fa-linkedin" href="http://www.linkedin.com/in/cbeasley0/en" target="_blank"></a>
			<a class="fa fa-twitter" href="http://twitter.com/beacrea" target="_blank"></a>
			<a class="fa fa-behance" href="https://www.behance.net/beacrea" target="_blank"></a>
		</div>
	</div>
	<div class="member">
		<div class="profileCircle">
			<div class="profileImage ravi"></div>
			<div class="jobCircle">Data</div>
		</div>
		<h2>Ravi Patel</h2>
		<div class="memberSocial">	
			<a class="fa fa-linkedin" href="http://www.linkedin.com/pub/ravi-patel/15/292/669/en" target="_blank"></a>
			<a class="fa fa-twitter" href="https://twitter.com/_ravipatel" target="_blank"></a>
		</div>
	</div>
	<div class="member">
		<div class="profileCircle">
			<div class="profileImage kyle"></div>
			<div class="jobCircle">Business</div>
		</div>
		<h2>Kyle Kramer</h2>
		<div class="memberSocial">
			<a class="fa fa-linkedin" href="https://www.linkedin.com/in/kylekramer82" target="_blank"></a>
		</div>
	</div>
	<div class="member">
		<div class="profileCircle">
			<div class="profileImage stefan"></div>
			<div class="jobCircle">Dev</div>
		</div>
		<h2>Stefan Mendoza</h2>
		<div class="memberSocial">	
			<a class="fa fa-linkedin" href="https://www.linkedin.com/in/stefanmendoza" target="_blank"></a>
			<a class="fa fa-github" href="https://github.com/stefanmendoza" target="_blank"></a>
		</div>
	</div>
	<div class="member">
		<div class="profileCircle">
			<div class="profileImage chris"></div>
			<div class="jobCircle">Legal</div>
		</div>
		<h2>Chris Brown</h2>
		<div class="memberSocial">
			<a class="fa fa-linkedin" href="http://www.linkedin.com/in/csbcounsel/en" target="_blank"></a>	
			<a class="fa fa-twitter" href="http://twitter.com/CSBCounsel" target="_blank"></a>
		</div>
	</div>
	<div class="member">
		<div class="profileCircle">
			<div class="profileImage isaac"></div>
			<div class="jobCircle">Dev</div>
		</div>
		<h2>Isaac Wilder</h2>
		<div class="memberSocial">	
			<a class="fa fa-github" href="https://github.com/imw" target="_blank"></a>
		</div>
	</div>
</section>

<section class="info-section">
	<h1>Get On The Field</h1>
	<p>We’re always looking for badasses. Are you a badass? We won’t believe it until you contact us with some of your thoughts and feedback. End shitty copy, out.</p>
	<a href=" " target="_blank" class="button--primary">Get In touch</a>
</section>

<footer>
    <a class="button--primary" ng-show="crowdfundingStatus">Learn More At Kickstarter</a>
    <div class="shareButtons">
        <div class="btn">
            <a href="http://twitter.com/edgeupsports" target="_blank" class="fa fa-twitter"></a>
        </div>
        <div class="btn">
            <a href="http://facebook.com/edgeupsports" target="_blank" class="fa fa-facebook"></a>
        </div>
    </div>
    <p>contact@edgeupsports.com<br>
    <span>&copy; Edge Up Sports. All Rights Reserved</span></p>
</footer>