<section class="home-hero">
    <div class="template-content">
        <a class="button--primary" ng-show="crowdfundingStatus">Back Our Kickstarter</a>
        <div class="clear"></div>
        <img class="hero_logo" src="../images/edgeUpLogoFull.png">
        <h1>
	        Fantasy Football
	        <span class="wordbreak">Can Be Fun Again</span>
        </h1>
        <h2>
	        We’re taking the grind out
	        <span class="wordbreak">of your weekly research.</span>
        </h2>
    </div>

	<div class="wrapper_signup">
		<p>For more info on early access this season, sign up here.</p>
		<!-- TODO: Show the validation error to only show when the button is clicked. Right now it's janky.-->
		<form name="emailForm" class="emailForm" id="emailForm" ng-submit="submit()">
			<span ng-show="emailForm.email.$dirty && emailForm.email.$invalid" class="emailStatus">Your email isn't formatted quite right yet</span>
			<input class="button--primary emailInput" type="email" name="email" ng-model="email" placeholder="Email Address" />
			<a class="emailButton button--primary" type="submit">Submit Email</a>
		</form>
	</div>
</section>




<section class="info-section firstInfo bg_network">
    <h1>Be Competitive <span class="wordbreak">and Save Time</span></h1>
    <div class="blue-line"></div>
    <p>We use technologies on a daily basis that talk to us, recommend actions, and organize our life. But where's your digital assistant for fantasy football?</p>
    <p>Well, we built one.</p>
	<p>Our approach is simple: a great experience around relevant data in the NFL. Stop being the water boy and start being the head coach.</p>
	<p>It can't make toast, but it can help <span class="wordbreak">you beat your friends.</span></p>
    <img src="../images/teamInfoUI.png" class="sit">
</section>

<section class="video-section bg_grid" >
    <h1 ng-show="!crowdfundingStatus">Our Vision</h1>
    <h1 ng-show="crowdfundingStatus">Be One Of The First <span class="wordbreak">To Get An Edge Up</span></h1>
    <div class="blue-line"></div>
    <div class="embed-responsive embed-responsive-16by9">
	    <youtube></youtube>
    </div>
    <div class="shareCampaign" ng-show="crowdfundingStatus">
	    <a class="button--primary">Back Our Kickstarter</a>
        <p>Share The Campaign</p>
        <div class="blue-line"></div>
        <div class="shareButtons">
            <a href="#" class="twitter btn">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="facebook btn">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <div class="clear"></div>
    </div>
	<div class="appearances">
	<p>Appearances</p>
	<div class="blue-line"></div>
	<div class="logosHolder">
		<a href="http://tech.co/edge-up-sports-2015-07" target="_blank" class="logo _techco"></a>
		<a href="https://www.youtube.com/watch?v=W-ZczU1g0B8&feature=youtu.be&t=7m2s" target="_blank" class="logo _watson"></a>
		<a href="http://www.startlandnews.com/2015/06/digital-sandbox-welcomes-six-new-startups/" target="_blank" class="logo _startland"></a>
	</div>
	<div class="clear"></div>
</div>
</section>

<section class="info-section appHighlight">
    <h1>Your New <span class="wordbreak">Fantasy Coach</span></h1>
    <div class="blue-line"></div>
    <p>Supplement your current fantasy platforms (like Yahoo and CBS) and get advanced information on players, coaches, and analysts.</p>
	<p>We're on your desktop, tablet, and smartphone, so you're always a moment away from the latest insights.</p>
    <img src="../images/teamInfoUI.png" class="sit">
</section>

<section class="info-section winLeague bg_grid">
    <h1>Win Your League</h1>
    <h2>Research Players</h2>
    <p>We capture data from thousands of sources, sift, then crunch it into digestible and useful insights to help inform decisions.</p>
    <h2>Track Roster Progress</h2>
    <p>Edge Up shows you how your roster changes on multiple dimensions throughout the week, so you can make the decisions that matter.</p>
    <h2>Save Time</h2>
    <p>We help you by capturing and sorting important news, then surfacing the interesting stuff with a little extra context on top.</p>
    <h2>Stay Informed</h2>
    <p>With our advanced alerts, we let you know when events happen that can make or break your season.</p>
</section>

<section class="info-section cogNewsDemo bg_network">
    <h1>Try Our Cognitive News Demo <span class="wordbreak">By IBM's Watson</span></h1>
    <p>We're harnessing the power of IBM's Watson for cognitive insights like the personality of a player or how analysts feel about a team.</p>
    <p>We've created a small demo to show how we're using Watson to parse news sources and surface interesting articles based on an author's behavioral trends.</p>
    <a href="http://demo.edgeupsports.com/experiments/cognews" target="_blank" class="button--primary watsonButton">
        <img src="images/watsonIcon.png" class="globeIcon">
        <span>Try News Demo</span>
    </a>
</section>

<footer>
    <a class="button--primary" ng-show="crowdfundingStatus">Learn More At Kickstarter</a>
    <div class="shareButtons">
        <div class="btn">
            <a href="#" class="fa fa-twitter"></a>
        </div>
        <div class="btn">
            <a href="#" class="fa fa-facebook"></a>
        </div>
    </div>
    <p>contact@EdgeUpSports.com<br>
    <span>&copy; Edge Up Sports. All Rights Reserved</span></p>
</footer>