<section class="home-hero">
    <div class="template-content">
        <h1>Making Fantasy Football Fun Again</h1>
        <h2>We show you stuff relevant to your team so you don't have to
            spend your entire life watching ESPN.</h2>
    </div>
</section>
<section class="info-section">
    <h2>Be Competitive and Save Time</h2>
    <div class="blue-line"></div>
    <p>We use big data algorithms to filter sports news, providing you
        relevant information to your fantasy football team.</p>
    <img src="../images/teamInfoUI.png">
</section>
<section class="video-section">
    <h2>Listen to Ilya talk</h2>
    <div class="blue-line"></div>
    <div class="embed-responsive embed-responsive-16by9">
        <div id="player"></div>
    </div>
    <a href="#ignore-click" class="button--primary">Use our tool</a>
</section>
